[Unit]
Description=Audio Player
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/code/main.py
Restart=on-abort

[Install]
WantedBy=default.target
