[Unit]
Description=Audio Player
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/code/main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
